/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 20px;
    min-width: 980px;
    max-width: 1400px;
}

/* Layout */

main {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
    gap: 40px;
    padding: 20px 0;
}

/* header and footer */

header {
    border-bottom: 5px solid #aa6666;
}

footer {
    border-top: 5px solid #aa6666;
}

footer p {
    text-align: center;
}

/* Text Styling */
html {
    font-family: "Lexend", "Helvetica", "Arial", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

p {
    line-height: 1.3rem;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
}

h1, h2 {
    font-family: "Montagu Slab", "Courier New", "Courier", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 1.1px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: none;
    letter-spacing: -0.85px;
}

li {
    font-size: 0.75rem;
    letter-spacing: 0.3px;
}

section h2 + p  {
    text-indent: 2rem;
}

